<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Task2</title>
    <link rel="styleSheet" href="/CSS/style.css" />
  </head>
  <body>
    <div id="wrapper">
      <div id="container">
        <!-- header -->
        <div class="contRest">
          <header>
            <h2>BR Architects</h2>
            <div id="rigthMenu">
              <ul>
                <li><a href="#">Projects</a></li>
                <li><a href="#">About</a></li>
                <li><a href="#">Contact</a></li>
                <li><a href="#">Our Works</a></li>
              </ul>
            </div>
            <div id="menu-img">
              <img src="/Images/menu-button.png" alt="" />
            </div>
          </header>
        </div>
        <!-- header -->
        <!-- banner -->
        <div id="banner">
          <h3>BR Architects</h3>
        </div>
        <!-- banner -->
        <!-- projects -->
        <div class="contRest">
          <div id="projects">
            <h2>Projects</h2>
            <div id="projectCard">
              <div
                class="projectPost"
                style="background-image: url(/Images/architect.jpg)"
              >
                <h4>Picture</h4>
              </div>
              <div
                class="projectPost"
                style="background-image: url(/Images/architect.jpg)"
              >
                <h4>Picture</h4>
              </div>
              <div
                class="projectPost"
                style="background-image: url(/Images/architect.jpg)"
              >
                <h4>Picture</h4>
              </div>
              <div
                class="projectPost"
                style="background-image: url(/Images/architect.jpg)"
              >
                <h4>Picture</h4>
              </div>
              <div
                class="projectPost"
                style="background-image: url(/Images/architect.jpg)"
              >
                <h4>Picture</h4>
              </div>
              <div
                class="projectPost"
                style="background-image: url(/Images/architect.jpg)"
              >
                <h4>Picture</h4>
              </div>
            </div>
          </div>
        </div>
        <!-- projects -->
        <div class="contRest">
          <div id="about">
            <h2>About</h2>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
              eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
              enim ad minim veniam, quis nostrud exercitation ullamco laboris
              nisi ut aliquip ex ea commodo consequat. Excepteur sint occaecat
              cupidatat non proident, sunt in culpa qui officia deserunt mollit
              anim id est laborum consectetur adipiscing elit, sed do eiusmod
              tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
              minim veniam, quis nostrud exercitation ullamco laboris nisi ut
              aliquip ex ea commodo consequat.
            </p>
          </div>
          <!-- profile of company -->
          <div id="members">
            <div class="profile">
              <div
                class="profile-img"
                style="
                  background: url(/Images/jhon.jpg) no-repeat center / cover;
                "
              ></div>
              <h4>John Doe</h4>
              <p class="desig">CEO & Founder</p>
              <p class="profile-info">
                Phasellus eget enim eu lectus faucibus vestibulum. Suspendisse
                sodales pellentesque elementum.
              </p>
              <p class="viewProfile"><a href="#">View Profile</a></p>
            </div>
            <div class="profile">
              <div
                class="profile-img"
                style="
                  background: url(/Images/location-img.jpg) center center /
                    cover;
                "
              ></div>
              <h4>John Doe</h4>
              <p class="desig">CEO & Founder</p>
              <p class="profile-info">
                Phasellus eget enim eu lectus faucibus vestibulum. Suspendisse
                sodales pellentesque elementum.
              </p>
              <p class="viewProfile"><a href="#">View Profile</a></p>
            </div>
            <div class="profile">
              <div
                class="profile-img"
                style="
                  background: url(/Images/jhon.jpg) no-repeat center center /
                    cover;
                "
              ></div>
              <h4>John Doe</h4>
              <p class="desig">CEO & Founder</p>
              <p class="profile-info">
                Phasellus eget enim eu lectus faucibus vestibulum. Suspendisse
                sodales pellentesque elementum.
              </p>
              <p class="viewProfile"><a href="#">View Profile</a></p>
            </div>
            <div class="profile">
              <div
                class="profile-img"
                style="background: url(/Images/jhon.jpg) center center / cover"
              ></div>
              <h4>John Doe</h4>
              <p class="desig">CEO & Founder</p>
              <p class="profile-info">
                Phasellus eget enim eu lectus faucibus vestibulum. Suspendisse
                sodales pellentesque elementum.
              </p>
              <p class="viewProfile"><a href="#">View Profile</a></p>
            </div>
            <div class="profile">
              <div
                class="profile-img"
                style="
                  background: url(/Images/location-img.jpg) center center /
                    cover;
                "
              ></div>
              <h4>John Doe</h4>
              <p class="desig">CEO & Founder</p>
              <p class="profile-info">
                Phasellus eget enim eu lectus faucibus vestibulum. Suspendisse
                sodales pellentesque elementum.
              </p>
              <p class="viewProfile"><a href="#">View Profile</a></p>
            </div>
            <div class="profile">
              <div
                class="profile-img"
                style="background: url(/Images/jhon.jpg) center center / cover"
              ></div>
              <h4>John Doe</h4>
              <p class="desig">CEO & Founder</p>
              <p class="profile-info">
                Phasellus eget enim eu lectus faucibus vestibulum. Suspendisse
                sodales pellentesque elementum.
              </p>
              <p class="viewProfile"><a href="#">View Profile</a></p>
            </div>
          </div>
          <!-- company profile end -->
          <!-- contact details -->
          <div id="contact">
            <h2>Contact</h2>
            <p>Let's get in touch and talk about your next project.</p>

            <div id="enterDetails">
              <div id="input">
                <input
                  type="text"
                  name="name"
                  placeholder="Name"
                  style="padding: 10px 0 10px 10px; border: 1px solid #ccc"
                />
                <input
                  type="number"
                  name="number"
                  placeholder="Contact Number"
                  style="padding: 10px; border: 1px solid #ccc"
                />
                <input
                  type="email"
                  name="email"
                  placeholder="Email"
                  style="padding: 10px; border: 1px solid #ccc"
                />
              </div>

              <div id="btn">
                <button>Send your response</button>
              </div>
            </div>
          </div>
          <!-- contact details -->
          <!-- location img-->
          <div id="location">
            <img src="/Images/location-img.jpg" alt="locaton" />
          </div>
          <!-- location -->
          <footer id="footer">
            <p>BR Architects</p>
          </footer>
        </div>
      </div>
    </div>
  </body>
</html>
